---
import Layout from '../layouts/Layout.astro';

import ArticlePreview from '../components/ArticlePreview.astro'
import EventPreview from '../components/EventPreview.astro'

import profile_pic from '../images/profile-icon.jpeg'
import course from '../images/course.png'
import { FileText, ArrowRight, Play, Calendar} from 'react-feather';

let posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
posts = posts.filter((post) => !post.frontmatter.draft);


let events = (await Astro.glob('./events/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
events = events.filter((event) => !event.frontmatter.draft);

---


<Layout title="Dima Anfimov">



	<section id="wrapper--hero" class="section--page">
		<img id="profile-pic" src={profile_pic}/>

		<div>
			<h1 id="user-name">Dima Anfimov</h1>
			<p id="bio">Backend developer at <a href="https://education.yandex.ru/" target="_blank">Yandex Schoolbook</a>.</p>
		</div>  
	</section>

	<section class="section--page">
		<div id="socials--list">
			<a href="https://www.linkedin.com/in/dmitry-a-720079142/" target="_blank">Linkedin</a>
			<a href="https://github.com/LoveSolaristics" target="_blank">Github</a>
			<a href="resume.pdf" target="_blank">Resume</a> 
		</div>
	</section>

	<!-- <section class="section--page course-preview">
		<div class='course-preview-image-border'>
			<a href="" target="_blank">
		  		<img class='course-preview-image' src={course} />
			</a>
		</div>
		<div id='course-preview-body'>
			<h3>Start Learning Django Today </h3>
			<p>Learn to build awesome websites with Python & Django today!</p>
			<a class='btn btn--md' href='' target="_blank"><Play width="16px" height="16px" />View Course</a>
		</div>
	</section> -->

	<section class="section--page">
		<a id="events"></a>
		<h3>Upcomming Events</h3>

		{events.map(event => (
			<EventPreview frontmatter={event.frontmatter}/>
		))}

	</section>

	
	<section class="section--page">
		<a id="blog"></a>
		<h3>Latest Posts</h3>

		{posts.map(post => (
			<ArticlePreview frontmatter={post.frontmatter}/>
		))}

	</section>

</Layout>

