---
import Layout from '../layouts/Layout.astro';

import ArticlePreview from '../components/ArticlePreview.astro'
import ProjectPreview from '../components/ProjectPreview.astro'

import profile_pic from '../images/profile-icon.jpeg'

let posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
posts = posts.filter((post) => !post.frontmatter.draft);


let projects = (await Astro.glob('./projects/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
projects = projects.filter((project) => !project.frontmatter.draft);

---


<Layout title="Dima Anfimov">



	<section id="wrapper--hero" class="section--page">
		<img id="profile-pic" src={profile_pic} alt="Author's photo"/>

		<div>
			<h1 id="user-name">Dima Anfimov</h1>
			<p id="bio">Backend developer at <a href="https://education.yandex.ru/" target="_blank">Yandex Schoolbook</a>.</p>
		</div>  
	</section>

	<section class="section--page">
		<div id="socials--list">
			<a href="https://www.linkedin.com/in/dmitry-a-720079142/" target="_blank">Linkedin</a>
			<a href="https://github.com/danfimov" target="_blank">Github</a>
			<a href="resume.pdf" target="_blank">Resume</a> 
		</div>
	</section>

	<section class="section--page">
		<a id="projects"></a>
		<h2>Latest Projects</h2>

		{projects.map(project => (
			<ProjectPreview frontmatter={project.frontmatter}/>
		))}

	</section>

	
	<section class="section--page">
		<a id="blog"></a>
		<h2>Latest Posts</h2>

		{posts.map(post => (
			<ArticlePreview frontmatter={post.frontmatter}/>
		))}

	</section>

</Layout>

