<nav>
    <a href="/Portfolio/">
        <img id="logo" src="favicon.svg" alt="Logo" title="Link on main page"/>
    </a>

    <div id="menu--container">
        <a href="/Portfolio/#blog">Posts</a>
        <a href="/Portfolio/#projects">Projects</a>
    </div>

    <a href="https://github.com/LoveSolaristics/Portfolio" target="_blank">
        <img id="github--logo" src="github.png" />
    </a>
</nav>