.card--article-preview{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    padding:0.5em 0;
    border-bottom: 1px solid var(--mainBorderColor);
  }
  
  .card--article-preview strong{
    font-weight: 400;
  }
  
  .card--article-preview small{
    font-weight: 100;
  }


  .article-preview__body{
    display: flex;
  
    align-items: center;
  }
  
  .article-preview__body > h3{
   margin-right: 0.5em;
  }
  