---
permalink: manifest.json
---
{
    "name": "{{ global.title }}",
    "description": "{{ global.description }}",
    "lang": "{{ global.language }}",
    "dir": "ltr",
    "id": "/",
    "start_url": "/",
    "theme_color": "#c1f07c",
    "display": "browser",
    "orientation": "natural",
}
